body {
    background-color: black;
    color: white; 
}


.table-responsive {
    margin-top: 20px;
    color: white;
}

.table table-striped table-hover {
    background-color: rgb(255, 255, 255);
    color: rgb(249, 0, 0);
}

.container-fluid img {
    margin-top: 30px;
}


button {
    margin-right: 10px;
}
